* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  display: flex;
  flex-direction: column;
}

.header{
  display: flex;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 100%;
  padding: 10px 30px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: #ffffff;
}


.custom-file-upload {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #ffffff;
  color: #000;
  border: 1px solid #000;
  border-radius: 10px;
  font-size: 14px;
  justify-content: center;
  transition: 0.5s;
}

.custom-file-upload:hover{
  background-color: #0CA959;
  color: #fff;
  border: 1px solid #0CA959;
}

.custom-file-upload input[type="file"] {
  display: none;
}

.custom-file-upload i{
  margin-right: 7px;
}

.pdfname{
  color: #0CA959;
  margin-right: 20px;
}

i{
  font-size: 20px;
  font-weight: 100;
}

.labelbutton{
  display: flex;
  align-items: center;
}

.fileicon{
  border: 1px solid #0CA959;
  border-radius: 7px;
  padding: 7px 6px;
  margin-right: 10px;
  color: #0CA959 !important;
}

.header img{
  width: 100px;
}

.inputbox{
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: center;
  background-color: #ffffff;
  padding-bottom: 30px;
}

.boxx{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d4d7dd;
  border-radius: 7px;
}

.inputbox input{
  width: 100%;
  padding: 12px 16px;
  border: none;
  background-color: transparent;
  font-size: 16px;
}

.inputbox input:focus{
  border: none;
  outline: none;
}

.chat{
  padding-top: 100px !important;
  padding-bottom: 100px !important;
  padding: 100px 10%;
  overflow-y: auto;
}

.user-query, .bot-response{
  margin: 20px 0px;
  display: flex;
}

.icon{
  max-width: 50px;
}

.profile{
  margin-right: 30px;
}

.texts{
  display: flex;
  align-items: center;
}

.sendbutton{
  background-color: transparent;
  border: none;
  margin-right: 10px;
}

.loader{
  display: inline-block;
  animation: rotate 1s linear infinite;
}

.no-chat-history{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}


.island{
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5%;
  width: 50%;
  height: 40vh;
  border: 1px solid rgb(220, 220, 220);

}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.markdown-body {
  line-height: 1.6;
  font-size: 16px;
  margin-top: 10px;
}

.markdown-body p {
  margin-bottom: 1.5em; /* Increase the margin-bottom for paragraphs */
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.markdown-body blockquote {
  margin: 0;
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

.markdown-body pre {
  padding: 16px;
  overflow: auto;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
}

.markdown-body code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}


.logo{
  display: flex;
  align-items: center;
}

.logo img{
  max-height: 50px;
  width: auto;
}

.logodark{
  display: none;
}




@media only screen and (max-width:768px){
  .custom-file-upload p{
    display: none;
  }

  .custom-file-upload{
    padding: 10px;
  }

  .custom-file-upload i{
    margin-right: 0px;
  }

  .pdfname{
    font-size: 12px;
    margin-right: 5px;
  }

  .chat{
    padding: 60px 5%;
    box-sizing: border-box;
    overflow-x:scroll;
  }

  .profile{
    margin-right: 15px;
  }
  .icon{
    max-width: 35px;
  }
  .inputbox{
    padding-bottom: 20px;
  }
  .boxx{
    width: 90%;
  }

  .island{
    width: 90%;
  
  }

  .novisible{
    display: none;
  }
  .markdown-body {
    margin-top: 5px;
  }

  .logo img{
    max-height: 35px;
    width: auto;
  }
}



@media (prefers-color-scheme: dark) {
  body {
    background-color: #2c2c2c;
    color: #ffffff;
  }

  .main {
    background-color: #2c2c2c;
    color: #ffffff;
  }

  .header, .body, .inputbox {
    background-color: #2c2c2c;
    color: #ffffff;
  }

  input{
    color: #fff !important;
  }

  .island {
    background-color: #2c2c2c;
    color: #ffffff;
  }



  .sendbutton {
    background-color: #2c2c2c;
    color: #ffffff;
  }

  .custom-file-upload {
    background-color: #2c2c2c;
    color: #ffffff;
  }

  .pdfname {
    color: #ffffff;
  }

  .no-chat-history {
    color: #ffffff;
  }
  .boxx{
    box-shadow: rgba(137, 137, 140, 0.2) 0px 7px 29px 0px;
  }
  .header{
    display: flex;
    box-shadow: rgba(127, 127, 131, 0.2) 0px 7px 29px 0px;
  }

  .logolight{
    display: none;
  }
  .logodark{
    display: block;
  }
}

